extends layout

block content
  h1 Here is your form
  form(action='/', method ='post')
    .form-group
        label Write your favorite color   
        input.form-control(type='text', value=color, name='colors')
      button.btn.btn-default(type='submit') Submit
