extends layout

block content
  h1 CSS COLOR GENERATOR
  h3 Use this site to test CSS colors.
  h3 In this form enter a Hex color      
  form(action='/', method ='post')
    .form-group
        label    
        input.form-control(type='text', value=color, name='colors', placeholder='Enter Color')
      button.btn.btn-default(type='submit') Change Background-Color
